.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.cursorPointer {
  cursor: pointer;
}
