nav {
  padding: 0;
}

.container {
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

.logo a {
  text-decoration: none;
  color: var(--textHover);
}

.logo a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: inherit;
  text-underline-offset: 5px;
}

.menu {
  font-weight: 400;
}
